div.loglogaoringo{
    width:95%;
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
div.loglogaoringo *{
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
    background: transparent;
    font-family:'ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','ＭＳ Ｐゴシック','Osaka',sans-serif;
    font-size:14px;
    line-height:140% !important;
    word-wrap: break-word;
}
div.loglogaoringo dd{
width:100%;
border:solid 2px;
border-radius: 10px;
padding :1.5em 5px 5px 10px;
margin:0;
position:relative; top :-1.3em;
z-index : 0 ;
}
div.loglogaoringo dt img{
    width: 1.5em;
    height: 1.5em;
    border:double 1px;
    vertical-align: middle;
    margin:0 0 0.1em -0.5em;
}

div.loglogaoringo dt{
width:25%; height:2em ;
border: solid 2px;
margin:0;
line-height:2em !important;
padding:0 0 0 1em;
border-radius: 10px;
line-height: 2em;
position:relative;
z-index : 1 ;
overflow: hidden;
text-overflow: clip;
}
